<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
<div>
  <h1>Reddit Reader</h1>
  <h3>A service to aggregate all your favorite subreddits</h3>
</div>

<div>
    <h3>Select the subreddits you're interested in:</h3>
</div>
<form action="/read" method="get">
  <ul>
    <li><input type="checkbox" required name="javascript" value="r/javascript">r/javascript</li>
    <li><input type="checkbox" required name="reactjs" value="r/reactjs">r/reactjs</li>
    <li><input type="checkbox" required name="reactnative" value="r/reactnative">r/reactnative</li>
    <li><input type="checkbox" required name="programming" value="r/programming">r/programming</li>
    <li><input type="checkbox" required name="css" value="r/css">r/css</li>
    <li><input type="checkbox" required name="golang" value="r/golang">r/golang</li>
    <li><input type="checkbox" required name="flutter" value="r/flutter">r/flutter</li>
    <li><input type="checkbox" required name="rust" value="r/rust">r/rust</li>
    <li><input type="checkbox" required name="django" value="r/django">r/django</li>
    <input type="submit" value="Aggregate">
  </ul>
</form>
</body>

</html>