<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
<div>
  <h1>Reddit Reader</h1>
  <h3>A service to aggregate all your favorite subreddits</h3>
</div>

<div>
    <h3>Select the subreddits you're interested in:</h3>
</div>
<form action="/read" method="get">
  <ul>
    <li><input type="checkbox" name="subreddits" value="javascript">javascript</li>
    <li><input type="checkbox" name="subreddits" value="reactjs">reactjs</li>
    <li><input type="checkbox" name="subreddits" value="reactnative">reactnative</li>
    <li><input type="checkbox" name="subreddits" value="programming">programming</li>
    <li><input type="checkbox" name="subreddits" value="css">css</li>
    <li><input type="checkbox" name="subreddits" value="golang">golang</li>
    <li><input type="checkbox" name="subreddits" value="flutter">flutter</li>
    <li><input type="checkbox" name="subreddits" value="rust">rust</li>
    <li><input type="checkbox" name="subreddits" value="django">django</li>
    <input type="submit" value="Aggregate">
  </ul>
</form>
</body>

</html>