<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>

  <style>
    .head{
      text-align: center;
    }
    .head h1{
      color:blueviolet;
    }

    .title {
      color:blueviolet;
    }

    .post{
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class ="head">
    <h1>Reddit Reader</h1>
    <h3>Reading: 
      {% for sub in subreddits %}
        r/{{sub}}
      {% endfor %}
    </h3>
  </div>
  <div class = "post">
    <p>
    {% for post in posts %}
    <div class="title"> 
      <a href="https://www.reddit.com{{post['url']}}">{{post['title']}}</a>
    </div>

      {{post['votes']}} upvotes · r/{{post['subject']}} 
    
    {% endfor %}
   </p>
  </div>
</body>

</html>